.mainp{
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 109, 109);
    height: 98vh;
    max-width: 100vw;
    margin-top: 13px;
    color: white;
}

.persons{
    display: flex;
    flex-direction: column;
}

.person{
    display: flex;
    align-items: center;
    padding: 12px 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: gray;

}

.names{
    display: flex;
    flex-direction: column;
}